<div class="container mt-4" *ngIf="offer">
  <h2 class="d-flex align-items-center gap-2">
    <img
      *ngIf="offer.airlineIconUrl"
      [src]="offer.airlineIconUrl"
      [alt]="offer.airlineName + ' logo'"
      width="50"
      height="50"
      style="object-fit: contain"
    />
    {{ offer.flightNumber }} | {{ offer.departureAirportCity }} &#10132;
    {{ offer.arrivalAirportCity }}
  </h2>

  <div class="card">
    <div class="card-body">
      <p><strong>From:</strong> {{ offer.departureAirportCity }} [{{ offer.departureAirportCode }}]</p>
      <p><strong>To:</strong> {{ offer.arrivalAirportCity }} [{{ offer.arrivalAirportCode }}]</p>
      <p>
        <strong>Departure Time:</strong>
        {{ offer.departureTime | europeanTime }}
      </p>
      <p>
        <strong>Arrival Time:</strong>
        {{ offer.arrivalTime | europeanTime }}
      </p>

      <p><strong>Airline:</strong> {{ offer.airlineName }}</p>
      <p><strong>Plane:</strong> {{ offer.airplaneName }}</p>

      <p><strong>Base Price:</strong> {{ offer.basePrice }} PLN</p>

      <p><strong>Available Seats:</strong></p>
      <ul>
        <li>Economy: {{ offer.availableEconomySeats }}</li>
        <li>Business: {{ offer.availableBusinessSeats }}</li>
        <li>First Class: {{ offer.availableFirstClassSeats }}</li>
      </ul>

      <a class="btn btn-secondary me-2" routerLink="/offers">Back to Offers</a>
      <a *ngIf="!isPastOffer(offer)" class="btn btn-success" [routerLink]="['/booking', offer.id]">Book</a>
    </div>
  </div>
</div>
