<div class="container mt-4" *ngIf="offer">
  <h2 class="d-flex align-items-center gap-2">
    <img
      *ngIf="offer.airline.iconUrl"
      [src]="offer.airline.iconUrl"
      [alt]="offer.airline.name + ' logo'"
      width="50"
      height="50"
      style="object-fit: contain"
    />
    {{ offer.flightNumber }} | {{ offer.departureAirport.city }} &#10132;
    {{ offer.arrivalAirport.city }}
  </h2>

  <div class="card">
    <div class="card-body">
      <p>
        <strong>From:</strong> {{ offer.departureAirport.city }} [{{
          offer.departureAirport.code
        }}]
      </p>
      <p>
        <strong>To:</strong> {{ offer.arrivalAirport.city }} [{{
          offer.arrivalAirport.code
        }}]
      </p>
      <p>
        <strong>Departure Time:</strong>
        {{ offer.departureTime | europeanTime }}
      </p>
      <p>
        <strong>Arrival Time:</strong> {{ offer.arrivalTime | europeanTime }}
      </p>

      <p><strong>Airline:</strong> {{ offer.airline.name }}</p>
      <p><strong>Plane:</strong> {{ offer.airplane.name }}</p>

      <p><strong>Base Price:</strong> {{ offer.basePrice }} PLN</p>

      <p><strong>Available Seats:</strong></p>
      <ul>
        <li>Economy: {{ offer.availableEconomySeats }}</li>
        <li>Business: {{ offer.availableBusinessSeats }}</li>
        <li>First Class: {{ offer.availableFirstClassSeats }}</li>
      </ul>

      <a class="btn btn-secondary me-2" routerLink="/offers">Back to Offers</a>
      <a class="btn btn-success" [routerLink]="['/booking', offer.id]">Book</a>
    </div>
  </div>
</div>
