<h2>Recent Offer Changes</h2>
<ul>
  <li *ngFor="let change of recentChanges">
    <strong>{{ change.type | titlecase }}:</strong>

    <ng-container [ngSwitch]="change.type">
      <ng-container *ngSwitchCase="'added'">
        New offer:
        <a [routerLink]="['/offer', change.newOffer?.id]"> Flight {{ change.newOffer?.flightNumber }} </a>, Departure:
        {{ change.newOffer?.departureTime | date: "short" }}, Price: {{ change.newOffer?.basePrice | currency }}
      </ng-container>

      <ng-container *ngSwitchCase="'deleted'">
        Deleted offer with ID:
        <a [routerLink]="['/offer', change.oldOffer?.id]">
          {{ change.oldOffer?.id }}
        </a>
      </ng-container>

      <ng-container *ngSwitchCase="'updated'">
        Updated offer ID:
        <a [routerLink]="['/offer', change.newOffer?.id]">
          {{ change.newOffer?.id }}
        </a>
        <ul>
          <li *ngFor="let diff of getDifferences(change)">
            {{ diff.field }}: <del>{{ diff.oldValue }}</del> →
            <strong>{{ diff.newValue }}</strong>
          </li>
        </ul>
      </ng-container>
    </ng-container>
  </li>
</ul>
