<div class="container mt-4">
  <h2>Reservation</h2>

  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-end mb-3">
        <div class="timer-box">
          Time left: <strong>{{ timeLeft }}s</strong>
        </div>
      </div>
      <form [formGroup]="reservationForm">
        <div class="mb-3">
          <label for="name" class="form-label">First name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your first name">
        </div>

        <div class="mb-3">
          <label for="surname" class="form-label">Last name</label>
          <input type="text" class="form-control" id="surname" formControlName="surname" placeholder="Enter your last name">
        </div>

        <div class="mb-3">
          <label for="passenger_type" class="form-label">Choose passenger type</label>
          <select class="form-select" id="passenger_type" formControlName="passenger_type">
            <option value="1">baby</option>
            <option value="2">child</option>
            <option value="3">teenager</option>
            <option value="4">adult</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="seat_type" class="form-label">Choose ticket type</label>
          <select class="form-select" id="seat_type" formControlName="seat_type">
            <option value="1">economy</option>
            <option value="2">business</option>
            <option value="3">first class</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="reservationForm.invalid">Go to payment</button>
      </form>
    </div>
  </div>
</div>

